.modal-dialog {
    max-width: 720px;
}
.modal-body {
    position: relative;
    padding: 0;
}
.video-container {
    text-align: center;
    width: 100%;
}
#video-stream {
    width: 100%;
    height: auto;
}
.bottom-container {
    text-align: center;
}